.homewrapper {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr .5fr;
  background-image: url('/Portfolioimg.jpeg');
  background-size: cover;
  background-position: center;
}
.logowrapper {
  font-family:'Nanum Gothic', sans-serif;
}
.logoinit {
  width: 120px;
  font-size: 38px;
  color: white;
  position: relative;
  left: 40px;
  background-color: rgb(163, 163, 201, 0.7);
  text-align: center;
  border-radius: 10%;
  /* border:7px solid white; */
  margin-top: 1em;
}
.logofn {
  font-size: 30px;
  width: 200px;
  position: absolute;
  top: 27px;
  left: 247px;
  color: white;
}
.logoln {
  font-size: 30px;
  width: 200px;
  position: absolute;
  top: 56px;
  left: 247px;
  color: white; 
}
.homenav {
  display: grid;
  width: 75%;
  height: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 1.5;
  margin-top: 4.5em;
  padding: 0;
  text-align: center;
  background-color: rgb(163, 163, 201, 0.7);
  background-size: 300px 100px;
}
.homenav a { 
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
  /* vertical-align: -50px; */
}
a:hover {
  transition: .5s;
  color: rgb(187, 136, 41);
  border-radius: 10%;
}
.brandStatement1 {
  grid-column: span 3;
}
.quote1 {
  margin-top: 7em;
  font-size: 20px;
  width: 380px;
  /* background-color:rgb(163, 163, 201, 0.2); */
  color: rgb(255, 255, 255) ;
  font-family:'Nanum Gothic', sans-serif;
  /* border: white solid 1px; */
  padding: 1em;
  animation: expand 3.5s forwards,
    appear 4s forwards;
}
  @keyframes expand{
    from{transform: translate(0);}
    to{transform: scale(1.7) translate(70%);}
  }
  @keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
   
.icons {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 1fr 1fr 1fr;
  font-size: 15px;
  color: white;
  grid-column: span 3;
  background-color: rgb(0, 0, 0, 0.5);
  text-align: center;
  /* height: 40px; */
}
.facebookIcon {
  padding-top: 10px;
}
.facebookIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.linkedinIcon {
  padding-top: 10px;
}
.linkedinIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.instagramIcon {
  padding-top: 10px;
}
.instagramIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.twitterIcon {
  padding-top: 10px;
}
.twitterIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.blogListWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr 1 fr;
  width: 90%;
  background-image: url('/Portfolioimg.jpeg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.blogListNav {
  display: grid;
  width: 75%;
  height: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 1.5;
  margin-top: 4.5em;
  padding: 0;
  text-align: center;
  background-color: rgb(163, 163, 201, 0.7);
  background-size: 300px 100px;
}
.blogListNav a {
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
}
a:hover {
  transition: 1s;
  color: rgb(187, 136, 41);
  border-radius: 10%;
}
.blogListMain {
  display: grid;
  grid-column: span 3;
  grid-row: span 3;
  color: white;
}
.blogListLink { 
  display: grid;
  height: 550px;
  width: 22%;
  margin-left: 2em;
  margin-bottom: 2em;
  /* width: 30%; */
  border: white solid 2px;
  background-color: rgb(163, 163, 201, 0.1);
  background-size: 200px 500px;
  text-align: center;
}
.blogListLink a {
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
}
.excerpt1 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 45px;
  max-width: 500px;
  position: absolute;
  top: 200px;
  left: 525px;
  animation: appear2 12s alternate infinite;
}
@keyframes disappear{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.excerpt2 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 30px;
  max-width: 400px;
  position: absolute;
  top: 400px;
  left: 805px;
  animation: appear2 22s alternate infinite;
}
@keyframes appear2{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.excerpt3 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 25px;
  max-width: 350px;
  position: absolute;
  top: 664px;
  left: 975px;
  animation: appear2 19s alternate infinite;
}
.excerpt4 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 40px;
  max-width: 450px;
  position: absolute;
  top: 502px;
  left: 475px;
  animation: appear2 29s alternate infinite;
}

/* .App {
  text-align: center;
} */


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
