.homeContainer {
  display: grid;
  grid-template-rows: 2.1fr 1.3fr .1fr;
}
.header {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  background-color: black;
  width: 100%;
  grid-column: span 3;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navBar1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-top: solid 3px rgb(170, 170, 185);
  margin-top: 50px;
}
.navBar1 a {
  float: left;
  text-decoration: none; 
  margin-left: 50px;
  margin-top: 10px;
  padding-right: 10px;
  font-size: 25px;
  color: white;
}
.bar1Top{
  height: 15%;
}
.bar1Bottom {
  color: white;
  background-color: rgb(170, 170, 185);
  text-align: center;
}
.logo1 {
  /* margin-top: .4em; */
  border: solid 1px rgb(170, 170, 185);
  text-align: center;
  background-color: rgb(170, 170, 185);
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo1 img {
  border-radius: 4px;
}
.navBar2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-top: solid 3px rgb(170, 170, 185);
  margin-top: 50px;
}
.navBar2 a {
  float: left;
  text-decoration: none; 
  margin-left: 50px;
  margin-top: 10px;
  padding-right: 10px;
  font-size: 25px;
  color: white;
}
.bar2Top{
  height: 15%;
}
.bar2Bottom {
  color: white;
  background-color: rgb(170, 170, 185);
  text-align: center;
}
a:hover {
  transition: .5s;
  color: rgb(187, 136, 41);
  border-radius: 10%;
}
.brandStatement1 {
  margin-top: 180px;
  padding-top: 200px;
  grid-column: span 3;
  background-image: url('/CG_background3.jpg');
  background-size: cover;
  background-position: center;

}
.quote1 {
  font-size: 20px;
  width: 380px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255) ;
  font-family:'Nanum Gothic', sans-serif;
  /* border: white solid 1px; */
  padding: 1em;
  animation: expand 3.5s forwards,
    appear 4s forwards;
}
  @keyframes expand{
    from{transform: translate(0);}
    to{transform: scale(1.7) translate(70%);}
  }
  @keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
.aboutMe {
  /* padding-top: px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(170, 170, 185);
  grid-column: span 3;
}
.aboutMe .bioPic {
  padding: 2em;
  text-align: center;
}
.bioPic img {
  border-radius: 3px;
}
.bio {
  margin-top: 1em;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 25px;
  color: white;
  max-width: 525px;
}
.icons {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 12px;
  color: white;
  grid-column: span 3;
  background-color: rgb(0, 0, 0);
  text-align: center;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  /* height: 40px; */
}
.icons2 {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 1fr 1fr 1fr;
  font-size: 12px;
  color: white;
  grid-column: span 3;
  background-color: rgb(0, 0, 0, 0.9);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 40px; */
}
.facebookIcon {
  padding-top: 10px;
}
.facebookIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.linkedinIcon {
  padding-top: 10px;
}
.linkedinIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.instagramIcon {
  padding-top: 10px;
}
.instagramIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.twitterIcon {
  padding-top: 10px;
}
.twitterIcon:hover {
  transition: .5s;
  transform: scale(1.2);
}
.blogListWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  width: 100%;
  height: 100%;
  background-image: url('/Portfolioimg.jpeg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blogListNav {
  display: grid;
  width: 75%;
  height: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 1.5;
  margin-top: 4.5em;
  padding: 0;
  text-align: center;
  background-color: rgb(163, 163, 201, 0.7);
  background-size: 300px 100px;
}
.blogListNav a {
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
}
a:hover {
  transition: 1s;
  color: rgb(187, 136, 41);
  border-radius: 10%;
}
.blogListMain {
  display: grid;
  grid-column: span 3;
  grid-row: span 3;
  color: white;
}
.blogListLink { 
  display: grid;
  height: 500px;
  width: 22%;
  margin-left: 2em;
  margin-bottom: 2em;
  border: white solid 2px;
  font-size: 25px;
  background-color: rgb(163, 163, 201, 0.1);
  background-size: 200px 500px;
  text-align: center;
  /* overflow: hidden;
  overflow-y: scroll; */
}
.blogListLink a {
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
}
.excerpt1 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 45px;
  max-width: 500px;
  position: absolute;
  top: 200px;
  left: 525px;
  animation: appear2 12s alternate infinite;
}
@keyframes disappear{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.excerpt2 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 30px;
  max-width: 400px;
  position: absolute;
  top: 400px;
  left: 805px;
  animation: appear2 22s alternate infinite;
}
@keyframes appear2{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.excerpt3 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 25px;
  max-width: 350px;
  position: absolute;
  top: 664px;
  left: 975px;
  animation: appear2 19s alternate infinite;
}
.excerpt4 {
  font-family:'Nanum Gothic', sans-serif;
  font-size: 40px;
  max-width: 450px;
  position: absolute;
  top: 502px;
  left: 475px;
  animation: appear2 29s alternate infinite;
}
.blogWrapper {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  grid-template-rows: .5fr 3.3fr  1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blogheader {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-image: url('/Portfolioimg.jpeg');
  background-size: cover;
  background-position: center;
  /* grid-column: span 4; */
}
.blogNav {
  display: grid;
  width: 75%;
  height: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 1.5;
  margin-top: 4.5em;
  padding: 0;
  text-align: center;
  background-color: rgb(163, 163, 201, 0.7);
  background-size: 300px 100px;
}
.blogNav a {
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
}
.blogMain {
  font-family: 'Nanum Gothic', sans-serif;
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.blogTitle {
  font-family: 'Rock Salt', cursive;
  font-size: 28px;

}
.blog {
  font-size: 18px;
  padding: 2em;
  
}
.blogPost {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 19px;
  width: 700px;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.enteredComments {
  width: 350px;
  height: 620px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgb(35, 35, 60);
  color: white;
  border: solid rgb(20, 20, 20) 7px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formWrapper {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family:'Nanum Gothic', sans-serif;
}
fieldset {
  padding: 20px;
  margin: 20px 0;
  border: 5px solid rgb(35, 35, 60);
}
legend {
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.nameInput {
  padding: 10px;
  border: 0;
  border-radius: 4px;
}
.textArea {
  padding: 10px;
  border: 0;
  border-radius: 4px;
}
button {
  background-color: red;
  color: white;
  margin: 10px;
}
.enteredComments {  
  padding: 20px;
  max-height: 75%;
}
::-webkit-scrollbar {width: 10px;

}

::-webkit-scrollbar-track {background-color: rgb(20, 20, 20);;border-radius: 3px;

}

::-webkit-scrollbar-thumb {background-color: rgb(170, 170, 185);border-radius: 3px; width: 10px;

}

.contactWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  width: 100%;
  height: 100%;
  background-image: url('/Portfolioimg.jpeg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.contactNav {
  display: grid;
  width: 75%;
  height: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 1.5;
  margin-top: 4.5em;
  padding: 0;
  text-align: center;
  background-color: rgb(163, 163, 201, 0.7);
  background-size: 300px 100px;
}
.contactNav a {
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
}
.contactTitle {
  font-size: 30px;
  font-family:'Nanum Gothic', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  display: grid;
  grid-column: span 2;
}
form {
  display: grid;
  grid-column: span 2;
}
.formWrapper2 {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  /* background-color: rgb(0, 0, 0, 0.5); */
}
.columnWrapper {
  display: grid;
  text-align: center;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
 grid-column: span 4;
 /* margin-left: 4em; */
 border-radius: 4px;
 border: solid rgb(255, 255, 255) 1px;
}
.firstName {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lastName {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subject {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.company {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.email {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.phone {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textArea2 {
  display: grid;
  grid-column: span 4;
  text-align: center;
  width: 50%;
  height: 200px;
  padding: 4em;
  min-width: 60px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.firstNameField {
  width: 300px;
  height: 25px;
  /* border: 3px solid rgb(163, 163, 201); */
  border-radius: 4px;
}
.lastNameField {
  width: 300px;
  height: 25px;
  /* border: 3px solid rgb(163, 163, 201); */
  border-radius: 4px;
}
.subjectField {
  width: 300px;
  height: 25px;
  /* border: 3px solid rgb(163, 163, 201); */
  border-radius: 4px;
}
.companyField {
  width: 300px;
  height: 25px;
  /* border: 3px solid rgb(163, 163, 201); */
  border-radius: 4px;
}
.emailField {
  width: 300px;
  height: 25px;
  /* border: 3px solid rgb(163, 163, 201); */
  border-radius: 4px;
}
.phoneField {
  width: 300px;
  height: 25px;
  /* border: 3px solid rgb(163, 163, 201); */
  border-radius: 4px;
}
.warning {
  font-size: 16px;
  color: white;
  animation: vibrate .7s alternate infinite;
}
@keyframes vibrate {
  0% {
    color:rgba(255, 255, 255, 0.6);
  }
100% {
  color: rgb(255, 69, 0, 0.6);
  }
}
/* @keyframes vibrate2 {
  from{transform: translate(0);}
  to{transform: color(red) translate(100%);}
} */
input[name="firstname"],
input[name="lastname"],
input[name="topic"],
input[name="company"],
input[name="email"],
input[name="phone"] {
  /* color: white; */
  /* background-color: rgb(163, 163, 201, 0.5); */
  font-size: 16px;
  font-weight: 500;
}
.contactButton button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  letter-spacing: 0.1em;
}
.projectWrapper {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr .5fr 3fr 0.4fr;
  background-image: url('/Portfolioimg.jpeg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.projectTitle {
  display: grid;
  grid-column: span 2;
  font-size: 30px;
  font-family:'Nanum Gothic', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}
.projectImageWrapper {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
}
.projectImage1 {
  /* text-align: center; */
  position: relative;
  left: 50%;
}
.projectImage1 img {
  border: solid white 3px;
  border-radius: 4px;
}
.projectImage2 {
  position: relative;
  left: 15%;
}
.projectImage2 img {
  border: solid white 3px;
  border-radius: 4px;
}
.projectImage3 {
  position: relative;
  left: 50%;
}
.projectImage3 img {
  border: solid white 3px;
  border-radius: 4px;
}
.projectImage4 {
  position: relative;
  left: 15%;
}
.projectImage4 img {
  border: solid white 3px;
  border-radius: 4px;
}
.aboutWrapper {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 0.5fr 3.3fr 0.2fr;
  background-image: url('/Portfolioimg.jpeg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.aboutNav {
  display: grid;
  width: 75%;
  height: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 1.5;
  margin-top: 4.5em;
  padding: 0;
  text-align: center;
  background-color: rgb(163, 163, 201, 0.7);
  background-size: 300px 100px;
}
.aboutNav a {
  color: white;
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  text-decoration: none; 
  padding-top: 20px;
}
